.finderContainer {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    padding: 2rem;
}
.finderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(106, 90, 205, 0.3);
    padding-bottom: 1rem;
}

.navigationButtons {
    display: flex;
    gap: 1rem;
}


.backButton {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}

.backButton:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

.finderContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.finderContent h2 {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 2rem;
}
